.vs
/bin

CleanArchMVC.Application/bin
CleanArchMVC.Application/obj


CleanArchMVC.Domain/bin
CleanArchMVC.Domain/obj


CleanArchMVC.Domain.Tests/bin
CleanArchMVC.Domain.Tests/obj


CleanArchMVC.Infra.Data/bin
CleanArchMVC.Infra.Data/obj


CleanArchMVC.Infra.IoC/bin
CleanArchMVC.Infra.IoC/obj

CleanArchMVC.WebUI/bin
CleanArchMVC.WebUI/obj
